.menu {
    background-color: #990000;
}

.menu-item {
    color: white;
    font-family: "Arial";
}

@media (max-width: 600px){
    body {
        background-color: lightblue;
    }

    .menu {
        top: 0px;
        margin-left: 10px;
        margin-right: 10px;
        min-height: 100px;
        overflow: hidden;
    }

    .span {
        color: yellow;
    };
}

@media (min-width: 601px){
    body {
        background-color: lightcyan;
    }
    .menu {
        margin-left: 30px;
        margin-right: 30px;
        height: 66px;
        margin-top: 6px;
    }
    .menu-item {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 15px;
        top: 0px;
    }
    .span {
        color: yellow;
    };
}
